.notes {
  display: flex;
  justify-content: space-around;
  margin: auto;
  height: 100%;
}


.btn-inverted {
  background-color: #e2e2e2;
  font-size: 14px;
  border: 1px solid #e74c3c;
  color: #e74c3c;
}

.wrap {
  margin: 0 auto;
  width: 800px;
  text-align: center;
}

h1 {
  font-size: 36px;
}

.hidden {
  display: none;
}

input[type="text"] {
  margin: 10px 0;
}