.App {
  display: grid;
  grid-template-rows: 50px 10fr 1fr;
  grid-template-columns: 12fr;
  grid-template-areas:
    "h"
    "c"
    "f";
  max-width: 450px;
  min-height: 80vh;
  margin: 0 auto;
}

.header {
  grid-area: h;
  height: 50px;
}

.navigation {
  position: absolute;
  top: 50px;
  background-color: blueviolet;
}

.content {
  grid-area: c;
  background-color: coral;
}

.footer {
  grid-area: f;
  background-color: teal;
}